<a ui-sref="application.posts.index">Posts</a>
<!--
<nodes-messages-wrapper></nodes-messages-wrapper>

<div class="row">
    <div class="small-12 columns">
        <h6>Post count: {{index.posts.length}}</h6>
    </div>
    <div class="small-4 columns">
        <div class="panel" ng-repeat="post in index.posts track by post.id">
            <h5>{{post.title}}</h5>
            <p>By: {{post.author.id}}</p>

            <p>
                <small>
                    {{post}}
                </small>
            </p>
            <a ng-click="index.loadPost(post.id)">Load it up scotty</a>
        </div>
    </div>
    <div class="small-8 columns">
        <div class="panel callout" ng-if="index.singlePost">
            <h5>{{index.singlePost.title}}</h5>
            <p>{{index.singlePost.body}}</p>
            <a ng-click="index.closePost()">Close it scotty</a>
        </div>

        <div ng-if="!index.singlePost">
            <button ng-hide="index.creatingPost" ng-click="index.createPost()">Create a new post scotty</button>
            <div ng-show="index.creatingPost">

                <form ng-submit="index.submitPost()">
                    <div class="row">
                        <div class="small-12 columns">

                            <label>Title
                                <input type="text" ng-model="index.newPost.title"/>
                            </label>

                        </div>
                        <div class="small-12 columns">

                            <label>Body
                                <input type="text" ng-model="index.newPost.body"/>
                            </label>

                        </div>
                        <div class="small-12 columns">

                            <label>Author
                                <input type="text" ng-model="index.newPost.author"/>
                            </label>

                        </div>
                        <div class="small-12 columns">
                            <button class="success" type="submit">Create it</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>-->
